Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Laisser passer tous les fichiers statiques
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Laisser passer les dossiers
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Tout le reste vers index.php
  RewriteRule ^ index.php [QSA,L]
</IfModule>