{% block content %}
	<div class="text-center mt-3">
		<img src="/Images/Logo.png" class="img-fluid" alt="logo" width="400" height="400">
		<div class="d-flex justify-content-center mt-2">
			<div class="d-flex justify-content-center mt-4">
				


					

						{% if user and user.role.value in ['pilote', 'admin'] %}
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Ajouter" style="width: 700px; background-color: #e0c7bf; color: black;">
								Ajouter une entreprise
							</button>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}
