body {
  background-color: #eceade;
}

h1 {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 36px;
  margin-top: 50px;
}

h2 {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 28px;
  margin-top: 30px;
}

p {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.flexbox ul {
  padding: 0;
  display: flex;
  background-color: green;
  font-size: 25px;
  margin: 0 auto;
  width: 1500px;
  height: 80px;
  align-items: center;
  border-radius: 20px 20px 20px 20px; 
}

.flexbox ul a {
  text-decoration: none;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 25px;
  margin: 0 30px;
  width: 500px;
  list-style: none;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 20px;
  border: 2px solid #000;
  border-radius: 20px 20px 20px 20px; 
  background-color: #ca748d;
  width: 100px;
  height: 5px;
}
