{% extends "Bases/Base.html.twig" %}

{% block title %}Candidatures - AdJob
{% endblock %}
{% block content %}
	<div class="container ">
		<div class="card mb-3" style="max-width: 750px; padding: 20px">
			<div class="row g-0">
				<div class="col-md-2">
					<img src="\Image\Martin.png" class="img-fluid rounded-start">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title">Nom de l'offre</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 750px; padding: 20px">
			<div class="row g-0">
				<div class="col-md-2">
					<img src="\Image\Martin.png" class="img-fluid rounded-start">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title">Nom de l'offre 2</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 750px; padding: 20px">
			<div class="row g-0">
				<div class="col-md-2">
					<img src="\Image\Martin.png" class="img-fluid rounded-start">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title">Nom de l'offre 3</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
