{% extends "Bases/Base.html.twig" %}

{% block title %}Candidatures - AdJob
{% endblock %}
{% block content %}
	<div class="container-fluid p-0 " style="background-color: #eed4cb; ">
		<div class="card mb-3" style="max-width: 750px; padding: 20px; border: 3px solid #a0a890;border-radius: 15px;">
			<div class="row g-0 align-items-center">
				<div class="col-md-2">
					<img src="\Image\Martin.png" class="img-fluid rounded" style="max-height: 200px">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title" style="color : #8fa882">Nom de l'offre</h5>
						<span class="badge rounded-pill bg-warning text-dark">En attente</span>

						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 750px; padding: 20px; border: 3px solid #a0a890;border-radius: 15px; ">
			<div class="row g-0">
				<div class="col-md-2">
					<img src="\Image\Martin.png" class="img-fluid rounded-start" style="max-height: 200px">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title" style="color : #8fa882">Nom de l'offre 2</h5>

						<span class="badge rounded-pill bg-success text-dark">Accepté</span>

						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3" style="max-width: 750px; padding: 20px; border: 3px solid #a0a890;border-radius: 15px; ">
			<div class="row g-0">
				<div class="col-md-2">
					<img src="\Image\Martin.png" class="img-fluid rounded-start" style="max-height: 200px">
				</div>
				<div class="col-md-10">
					<div class="card-body">
						<h5 class="card-title" style="color : #8fa882">Nom de l'offre 3</h5>

						<span class="badge rounded-pill bg-danger text-dark">Refusé</span>

						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>


					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
