<div class="modal fade" id="Candidater" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ECEADE">
        <h1 class="modal-title fs-5">Candidater</h1>
      </div>

      <form method="POST" action="/Candidatures/ajouter">
        <div class="modal-body">
          <div class="col p-2 m-2">
            <label class="form-label">Nom :</label>
            <input type="text" name="nom" class="form-control" placeholder="Entrez votre Nom"
                   style="border-radius: 5px; border: 1px solid #A0A890">
          </div>
          <div class="col p-2 m-2">
            <label class="form-label">Prénom :</label>
            <input type="text" name="prenom" class="form-control" placeholder="Entrez votre Prénom"
                   style="border-radius: 5px; border: 1px solid #A0A890">
          </div>
          <div class="col p-2 m-2">
            <label class="form-label">Adresse Mail :</label>
            <input type="email" name="email" class="form-control" placeholder="Entrez votre Adresse Mail"
                   style="border-radius: 5px; border: 1px solid #A0A890">
          </div>
          
          <input type="hidden" name="offre_titre" value="{{ offre.titre ?? '' }}">
        </div>

        <div class="modal-footer" style="background-color: #ECEADE">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #A0A890">Fermer</button>
          <button type="submit" class="btn" style="background-color: #EED4CB">Envoyer</button>
        </div>
      </form>

    </div>
  </div>
</div>