<!doctype html>

<html lang="fr">

  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="Random.css" rel="stylesheet" />
    <title>AdJob</title>
  </head>

  <body> 


    <nav class="navbar">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Acceuil</span>
    <span class="navbar-brand mb-0 h1">Avis</span>
    <span class="navbar-brand mb-0 h1">Contact</span>
    <span class="navbar-brand mb-0 h1">A propos</span>
    <span class="navbar-brand mb-0 h1">Deconnexion</span>
  </div>
</nav>

    <div class="text-center">
  <img src="" class="rounded" alt="...">
</div>



<div class="flexbox2">
<div class="container">
<div class="colonne2">
<div class="colonne">
  <h1>Information personnel</h1>
        <p2>
        <label for="name" >Nom :</label> <br>
        <input type="text" id = "name" placeholder="Entree votre nom" ><br><br>
        <label for="surname">Prenom :</label><br>
        <input type="text" id = "surname" placeholder="Entree votre Prenom" ><br><br>
        <form>
        Civilité : <br>
        <select name = "Civilité">
            <option value="Monsieur">Monsieur</option>
            <option value="Madame">Madame</option>
            <option value="Je prefere ne pas repondre">Je prefere pas repondre</option>

        </select> <br><br>
        <label for="email" >Couriel :</label> <br>
        <input type="text" id = "email" placeholder="Entree votre email"><br><br>
        <form>
        <label for="age">Date de naissance</label><br>
        <input type="date" required>
        </form><br>
        <label for="password" >Mots de passe :</label> <br>
        <input type="text" id = "password" placeholder="Entree votre mot de passe "><br>
        </p2>
        </div><br><br>
        </div>
        <div class="colonne2">
        <div class="colonne">
        
        <h2>Information Complementaire</h2>
      <p>
        <label for="name" >Nom de l'entreprise:</label> <br>
        <input type="text" id = "name" placeholder="Entree le nom de votre entreprise" ><br><br>
        <label for="promo" >Promo :</label> <br>
        <input type="text" id = "promo" placeholder="Entree votre nom de promo" ><br><br>
        <label for="adresse" >adresse de l'entreprise:</label> <br>
        <input type="text" id = "adresse" placeholder="Entree l'adresse de l'entreprise" ><br><br>
        <label for="postale" >Code postale:</label> <br>
        <input type="text" id = "postale" placeholder="Entree le code postale de l'entreprise" ><br><br>
        <label for="mail" >Modifier l'adresse mail :</label> <br>
        <input type="text" id = "mail" placeholder="Modifier votre adresse mail" ><br><br>
        <label for="password" >Modifier votre password :</label> <br>
        <input type="text" id = "password" placeholder="Modifier votre mots de passe" ><br><br> </p>
     </body> <br><br></div>
     </div>
    </div>
    
  
     <div class="mention">
      <a href="MenLeg.html">Mention legale</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
</html>
