{% block footer %}

{% if type == 'mentions_legales' %}

<h1>Mentions Légales</h1>

{% else %}
<footer>
    <a class="nav-link px-3" style="font-size: 1.5rem;" href="/Mentions_Legales">
        Mentions Légales
    </a>
</footer>
{% endif %}

{% endblock %}