{% set default_color = "#eceade" %}

<footer class="mt-auto py-3 border-top" style="background-color:{% block footer_color %}{{ default_color }}{% endblock %};">
	<div class="container d-flex justify-content-center">
		<a href="/Mentions_Legales" class="text-dark text-decoration-none fw-bold" style="font-size: 1.1rem;">
			Mentions Légales
		</a>
	</div>
</footer>
