{% extends "Bases/Base.html.twig" %}

{% set type = 'mentions_legales' %}

{% block content %}
    <div class="container">
    <h1>Editeur du site</h1>
    <p> Nom du site : ADJOB</p>
    <p> Type de site : Plateforme de mise en relation entre étudiants et entreprises pour des stages et des emplois</p>
    <p> Editeur : Web4All - Projet Etudiants</p>
    <p> Etablissement : Cesi- campus de Reims</p>
    <p> Adresse : 1 Rue de la Croix Saint-Marcel, 51100 Reims</p>
    <h1>Hébergement du site</h1>
    <p> Hébergeur : OVH</p>
    <p> Adresse : 2 rue Kellermann, 59100 Roubaix, France
    <p> Téléphone : +33 9 72 10 10 07</p>
    <h1>Propriété intellectuelle</h1>
    <p> Le contenu du site ADJOB, y compris les textes, les images,
    les logos et les vidéos, est protégé par les lois sur la propriété intellectuelle. Toute reproduction, distribution ou utilisation du contenu sans autorisation préalable est strictement interdite.</p>
    <h1>Responsabilité</h1>
    <p> ADJOB s'efforce de fournir des informations précises et à jour, mais ne peut garantir l'exactitude ou l'exhaustivité du contenu. ADJOB ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation du site ou de l'incapacité à utiliser le site.</p>
    <h1>Liens externes</h1>
    <p> Le site ADJOB peut contenir des liens vers des sites externes. ADJOB n'est pas responsable du contenu de ces sites et ne peut être tenu responsable de tout dommage résultant de l'utilisation de ces sites.</p>
    <h1> Données collectées</h1>
    <p> Dans le cadre de l'utilisation du site ADJOB, les données suivantes peuvent etre collectées:</p>
    <h1>Pour les etudiants :</h1>
    <ul>
        <li>Nom et prénom</li>
        <li>Adresse e-mail</li>
        <li>Numéro de téléphone</li>
        <li>Informations sur les candidatures et les offres d'emploi</li>
    </ul>   
    <h1>Pour les entreprises :</h1>
    <ul>
        <li>Nom de l'entreprise</li>
        <li>Description de l'entreprise</li>
        <li>Adresse e-mail</li>
        <li>Numéro de téléphone</li>
        <li>Evaluations des candidats</li>
    </ul>
    <h1> Pour les pilotes :</h1>
    <ul>
        <li>Nom et prénom</li>
        <li>Adresse e-mail</li>
        <li>Numéro de téléphone</li>
        <li>Informations sur les étudiants suivis</li>
    </ul>
    <H1> Finalité du traitement des données</H1>
    <p> Les données personnelles sont collectées uniquement pour : </p>
    <ul>
        <li>La gestion des comptes utilisateurs</li>
        <li>La gestion des offres de stage</li>
        <li>La gestion des candidats</li>
        <li>Le suivi pédagogique des étudiants</li>
        <li>Le bon fonctionnement de la plateforme</li>
    </ul>
    <h1> Base légale du traitement des données</h1>
    <p> Le traitement de données repose sur :</p>
    <ul>
        <li>Le consentement des utilisateurs</li>
        <li>L'interet pedagogique</li>
    </ul>
    <h1> Durée de conservation des données</h1>
    <p> Les données personnelles sont conservées, pendant la durée du projet pédagogique, ou jusqu'a la demande de suppressionn par l'utilisateur. A l'issue du projet, les données pourront etre anonymisées ou supprimées.</p>
    <h1> Securité des données</h1>
    <p> Des mesures technique et organisationnelles sont mise en plase afin de garantir la securité des données personnelles :</p>
    <ul>
        <li>mot de passes chiffrés</li>
        <li>Protection contre les injections SQL,XSS et CSRF</li>
        <li>Accès restreint selon les roles</li>
        <li>utilisation du protocole HTTPS </li>
    </ul>
    <h1> Droits des utilisateurs</h1>
    <p> Conformément au Reglement Général sur la Protection des Données (RGPD), les utilisateurs dispose des droits suivants :</p>
    <ul>
        <li>Droit d'accès : les utilisateurs peuvent demander l'accès à leurs données personnelles</li>
        <li>Droit de rectification : les utilisateurs peuvent demander la correction de leurs données personnelles inexactes ou incomplètes</li>
        <li>Droit à l'effacement : les utilisateurs peuvent demander la suppression de leurs données personnelles, sous réserve des obligations légales de conservation</li>
        <li>Droit à la limitation du traitement : les utilisateurs peuvent demander la limitation du traitement de leurs données personnelles dans certaines circonstances</li>
        <li>Droit d'opposition : les utilisateurs peuvent s'opposer au traitement de leurs données personnelles pour des raisons tenant à leur situation particulière</li>
    </ul>
    <h1> Cookies</h1>
    <p> Le site ADJOB utilise des cookies pour améliorer l'expérience utilisateur et collecter des données de navigation. Les utilisateurs peuvent gérer leurs préférences en matière de cookies via les paramètres de leur navigateur.</p>
    <h1> Modifications de la politique de confidentialité</h1>
    <p> ADJOB se réserve le droit de modifier cette politique de confidentialité à tout moment. Les utilisateurs seront informés de toute modification via une notification sur le site ou par e-mail.</p>
    </div>
{% endblock %}
