{% extends 'Bases/Base.html.twig' %}

{% block content %}
	<div class="main-container" style="background-color: #eed4cb; padding : 50px; min-height: 100vh; ">


		<div class="container" style="background-color: #ffffff; border-radius: 12px; padding: 30px; max-width: 600px; border: 1px solid #a0a890; margin: auto;">

			<center>
				<div class="col-5 couleur">
					<label for="Nom de l'étudiant" class="form-label pt-2 m-2">Email</label>
					<input type="email" class="form-control" id="Email de connexion" placeholder="Entrez votre adresse mail">
				</div>
				<div class="col-5">
					<label for="Prénom de l'étudiant" class="form-label pt-2 m-2">Mot de passe
					</label>
					<input type="password" class="form-control" id="Mdp de connexion" placeholder="Entrez votre mot de passe">
				</div>
			</center>
			<center>
				<div class="col-12 pt-4 m-2">
					<button type=" connection" class=" btn" style="background-color: #a0a890; color: white; border: none; padding: 12px; font-weight: bold; border-radius: 25px;">Se connecter</button>
				</div>
			</center>
		</div>
	</div>
{% endblock %}
